# Comments -docstrings farkı ?

In [ ]:
# docstring metinleri nasıl oluşturulur? ve nerede kullanılır?

In [5]:
# sayını karesini alan bir fonksiyon alalım
def Karem(sayi):
    """
    Karem() fonksiyonu girilen sayının karesini alır.
    """
    return sayi*sayi

print(Karem(3))

9

In [7]:
print(Karem.__doc__)  # Karem isimli fonksiyonun docstring metnini verir

    Karem() fonksiyonu girilen sayının karesini alır.

__doc__ yerine help() fonksiyonu da kullanılabilir.

In [8]:
help(Karem)

Help on function Karem in module __main__:

Karem(sayi)
    Karem() fonksiyonu girilen sayının karesini alır.

In [9]:
# print() de bir fonksiyon olduğuna göre, print() fonksiyonun docstringini nasıl öğreniriz?
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [10]:
# Alternatifi
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [11]:
print(map.__doc__)

map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.

In [12]:
print(pow.__doc__)

Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

Some types, such as ints, are able to use a more efficient algorithm when
invoked using the three argument form.

In [13]:
2**3

8

In [14]:
pow(2,3)

8

In [15]:
print(input.__doc__)

Forward raw_input to frontends

        Raises
        ------
        StdinNotImplementedError if active frontend doesn't support stdin.

# Değişkenler (Variables)
*  Variables need not be declared or defined in advance in Python.
*  To create a variable, you just assign it a value.

In [17]:
# PEP-8 önerisine uygun değil: Değişkenlere anlamlı isimler verilmelidir.
x = 5
y = 6
z = x + y
print(x, y, z)

5 6 11

In [18]:
# PEP-8 önerisine uygun: anlamlı isimlendirme
first_number = 10
second_number = 20
third_number = 30
sum = first_number + second_number + third_number
print(sum)

60

In [ ]:
color = 'renk'
age = 'yas'
year ='sene'
print(color,age,year)

In [ ]:
# Değişkene değer atanırken yazılıma yeni başlayanların sık yaptığı bir hata
5 = var1 # her zaman eşitliğin sağ tarafı sol tarafa aktarılır

In [19]:
my_age = 33
your_age = 30
my_age = your_age  # sağ taraf sol tarafa aktarılır (my_age güncellendi)
print(my_age)

30

In [20]:
print("my_age")

my_age

#PEP8 Önerileri:


1. Değişken isimlerinde küçük harf kullanılmalı
2. Değişken ismi birkaç kelimeden oluşuyorsa arada "_" kullan
3. Değişken isimleri anlaşılır olmalı,
4. Kafa karıştıran karakterler kullanılmamalı (l,I,o,..)
5. Python keywords (reserved words) değişken ismi olarak kullanılmamalı (öneri değil, kural)
6. keyword listesi dışında Python built-in fonksiyonlarını değişken ismi olarak kullanmmalıyız (print, input, sum, map,....)
7. Değişken isimleri rakamla başlamaz. Ama sonrası rakam içerebilir.
8. Değişken isimlerinde boşluk dahil özel karakterler (,-;#$/()..)kullanılmaz ('_' hariç)
9. Herkes tarafından bilinen kısaltmalar(jan,oct, avr, ...) kullanılabilir.
10. 3 kelimeden uzun değişken adı da kullanılmamalı (avg_income_feb_...)

In [80]:
# Değişken ismi olarak kullanılmayacak anahtar kelimeler; kwlist
from keyword import kwlist
print(kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
is = "ali"

In [22]:
# # evde tek başınıza denemeyin!!!
# print = 5
# print(print)

TypeError: ignored

In [1]:
print("veli")

veli

In [2]:
44ad = "ali" # rakamla başlamaz ama ad44 olur
print(44ad)

SyntaxError: ignored

In [3]:
not = 90  # Hata for turkish students!!! (not bir keyword)

SyntaxError: ignored

In [5]:
# Aynı değer (same) birden fazla değişkene atanabilir
x = y = z = "same"
print(x)
print(y)
print(z)

same
same
same

In [6]:
x = y = z = same  # tırnaksız yazdığımızda değişken algılar
print(x)
print(y)
print(z)

NameError: ignored

In [10]:
# Birden fazla değişkene tek bir değer aynı satırda aktarılabilir.
jan = mar = may = jul = aug = oct = dec = 31
feb = 28
apr = jun = sep = nov = 30
print(jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec)

31 28 31 30 31 30 31 31 30 31 30 31

In [13]:
# Ne değer atayacağımıza henüz karar veremedi isek ne yapacağız?
thomas = 33
bulend = None # tipi: NoneType
# ....
# thomas*bulend

TypeError: ignored

In [14]:
website = "apple.com"
print(website)
website = "clarusway.com" # güncellendi
print(website)

apple.com
clarusway.com

In [15]:
website = "apple.com"
# print(website)
website = "clarusway.com" # güncellendi
print(website)

clarusway.com

In [16]:
first_num = 100
second_num = first_num
print(second_num)

100

In [17]:
first_num = 100
second_num = "first_num"
print(second_num)

first_num

In [19]:
x = 15
y = 33
z = x
x = y
print(x, y, z)

33 33 15

In [20]:
x = 15
y = 33
z = x
x = y
print(x, y, z, sep="\n")

33
33
15

In [21]:
x = 15
y = 33
z = x
x = y
print(x, "\n", y, "\n", z)

33
 33
 15

In [22]:
a, b, c = 5, 3.14, "Hello"  # değişken sayısı kadar değer sırası ile aktarılır (tek satırda)
print(a)
print(b)
print(c)

5
3.14
Hello

In [24]:
a, b, c, d = 5, 3.14, "Hello"  # unpacking
print(a)
print(b)
print(c)

ValueError: ignored

In [25]:
a, b, c = 5, 3.14, "Hello", "Maraba"  # unpacking
print(a)
print(b)
print(c)

ValueError: ignored

In [26]:
a, b, *c = 5, 3.14, "Hello", "Maraba"  # unpacking: kalan c'ye aktarılır...
print(a)
print(b)
print(c)

5
3.14
['Hello', 'Maraba']

In [27]:
man = "andrew"
color = "RED"
pi = 3.14
man = "Bulend"
color = "YELLOW"
pi = 3.1415
print(man, pi, color)  # en güncel değerler ekrana yazdırlır...

Bulend 3.1415 YELLOW

In [28]:
# PEP-8 önerisi: değeri değişmeyen ifadeler (SABİTLER) büyük harfle kodlanır
man = "andrew"
color = "RED"
PI = 3.14
man = "Bulend"
color = "YELLOW"
print(man, PI, color)  # en güncel değerler ekrana yazdırlır...

Bulend 3.14 YELLOW

In [ ]:
# lms sorusu
# Q: Which of the following is an invalid statement?
x, y, z = 1, 22, 333    # a)
x_y_z = 1_234_567       # b)
xyz = 1234567           # c)
x y z = 111 222 333     # d)

# BASIC DATA TYPES

1.   Sözel (strings) ifadeler: str
2.   Sayısal ifadeler (numeric)

    2.1. Tamsayı(integer):  int

    2.2. Kesirli(floating) sayılar: float

    2.3. Karmaşık (complex) sayılar: complex
    
3. Boolean (True/ False) ifadeler: bool
4. None veri tipi: NoneType

Veri tipini öğrenmek için ise type() fonksiyonu kullanılır.

![image.png]()

In [ ]:
# her değişkenin, verinin, fonksiyonun (nesnenin) bir tipi vardır.
# Ve bu tipi 'type()' fonksiyonu ile öğrenebiliriz

In [29]:
type(True)  #value(değerlerin de) tipi type ile öğrenilebilir.

bool

In [30]:
type(man)

str

In [31]:
type(PI)

float

In [32]:
type(3.14)

float

In [33]:
type(3,14)

TypeError: ignored

In [34]:
type((3,14))

tuple

#String veri tipi (str)
"...", '..', '''..''', """...""" içerisindeki herşey str tipindedir.

In [35]:
text_1 = "ali"
text_2 = """2020"""
text_3 = '3.14'

In [36]:
print(type(text_1))
print(type(text_2))
print(type(text_3))

<class 'str'>
<class 'str'>
<class 'str'>

In [37]:
type(text_3)

str

In [40]:
nums = 620 + 450
print(nums)

1070

In [38]:
# stringler '+' operatörü ile birleştirilir.....
nums = "620" + "450"
print(nums)

620450

In [39]:
type(nums)

str

In [42]:
type(5)

int

In [43]:
type(5.5)

float

In [44]:
dogru = True
yanlis = False
type(dogru)

bool

In [41]:
# iki sayının toplamını yapan program
nums1 = input("Sayı-1..: ") # str
nums2 = input("Sayı-2..: ") # str
total = nums1 + nums2
print("Toplam= ", total)

Sayı-1..: 5
Sayı-2..: 6
Toplam=  56

In [48]:
# iki sayının toplamını yapan program
nums1 = input() # str
nums2 = input() # str
total = nums1 + nums2
print("Toplam= ", total)

5
6
Toplam=  56

In [47]:
# iki sayının toplamını yapan program
nums1 = input(prompt=1000) # str
nums2 = input(prompt=2000) # str
total = nums1 + nums2
print("Toplam= ", total)

10005
20006
Toplam=  56

# Tip Dönüşümü
Her veri veya veri tipi  "str" veri tipine dönüştürülebilir. Fakat tersi her zaman mümkün değildir.

In [45]:
# iki sayının toplamını yapan program
nums1 = input("Sayı-1..: ") # str
nums2 = input("Sayı-2..: ") # str
total = int(nums1) + int(nums2)
print("Toplam= ", total)

Sayı-1..: 5
Sayı-2..: 6
Toplam=  11

In [49]:
# iki sayının toplamını yapan program
nums1 = int(input("Sayı-1..: ")) # int
nums2 = int(input("Sayı-2..: ")) # int
total = nums1 + nums2
print("Toplam= ", total)

Sayı-1..: 5
Sayı-2..: 6
Toplam=  11

In [50]:
# iki sayının toplamını yapan program
nums1 = input("Sayı-1..: ") # str
nums2 = input("Sayı-2..: ") # str
total = float(nums1) + float(nums2)
print("Toplam= ", total)

Sayı-1..: 5
Sayı-2..: 6
Toplam=  11.0

In [51]:
# iki sayının toplamını yapan program
nums1 = input("Sayı-1..: ") # str
nums2 = input("Sayı-2..: ") # str
total = float(nums1) + int(nums2)
print("Toplam= ", total)
print(type(total))

Sayı-1..: 5
Sayı-2..: 6
Toplam=  11.0
<class 'float'>

In [54]:
PI = 3.14
converted_pi = str(PI)
print(converted_pi)  # pprint(converted_pi) : '3.14'
print(type(converted_pi))

3.14
<class 'str'>

In [53]:
converted_pi

'3.14'

In [55]:
PI = 3.99
converted_pi = int(PI)
print(converted_pi)
print(type(converted_pi))

3
<class 'int'>

In [56]:
PI = 3.14
converted_pi = int(PI)  # tam kısmı alır...
print(converted_pi)
print(type(converted_pi))

3
<class 'int'>

In [57]:
PI = 3
converted_pi = float(PI)  # .0
print(converted_pi)
print(type(converted_pi))

3.0
<class 'float'>

In [67]:
z = 39
x = "11"
y = "3.14"
data = "I am at "

In [60]:
z + int(x)

50

In [63]:
z + float(y)

42.14

In [64]:
type(z + float(y))

float

In [68]:
data + str(z)

'I am at 39'

In [59]:
z + x

TypeError: ignored

In [69]:
print(int("5" + "1"))
print(str("5" + "1"))
print("5" + "1")

51
51
51

In [71]:
num1 = 123
num2 = "456"
print(type(num1))
print(type(num2))
print(num1+num2)

<class 'int'>
<class 'str'>

TypeError: ignored

In [73]:
num1 = 123
num2 = "456"
print(type(num1))
print(type(num2))
num3 = num1 + int(num2)
print(num3)
print(type(num3))

<class 'int'>
<class 'str'>
579
<class 'int'>

In [74]:
# bool veri tipi sayısal işleme tabii tutulursa int gibi davranır.,
dogru = True
yanlis = False
print(type(yanlis))  # bool
print(dogru+yanlis)  # 1+0
print(type(dogru+yanlis)) # type(1+0)-> int

<class 'bool'>
1
<class 'int'>

In [75]:
#In Python, a variable may be assigned a value of one type, and then later assigned a value of a different type:
a = 5
a = "55"

In [76]:
# bir nesne(300), iki referans (m,n)
n = 300
m = n

In [77]:
# id: kimlik operatörü: bellek adresini verir
id(n)

140412311787664

In [78]:
id(m)

140412311787664

In [81]:
kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']